Auto-faktura + Forms (ja).blueprint (1).json
{
    "name": "Auto-faktura + Forms (ja)",
    "flow": [
        {
            "id": 17,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2739405,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 233,
                    "y": 446
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "My gateway-webhook webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 84,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "unikalnyKlucz",
                "scope": "roundtrip",
                "value": "{{md5(17.`2` + 17.`3` + 17.`4` + 17.`5` + 17.`6` + 17.`8` + formatDate(now; \"YYYY-MM-DD HH:mm\"))}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 450
                }
            }
        },
        {
            "id": 85,
            "module": "datastore:AddRecord",
            "version": 1,
            "parameters": {
                "datastore": 38650
            },
            "mapper": {
                "key": "{{84.unikalnyKlucz}}",
                "data": {
                    "attachments": []
                },
                "overwrite": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "data": {
                            "nested": {
                                "attachments": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "datastore": {
                            "label": "My data store"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing record",
                        "required": true
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "attachments",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": null
                                        },
                                        {
                                            "name": "url",
                                            "type": "text",
                                            "label": null
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": null
                                        },
                                        {
                                            "name": "size",
                                            "type": "number",
                                            "label": null
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": null
                                        },
                                        {
                                            "name": "thumbnails",
                                            "spec": [
                                                {
                                                    "name": "small",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "text",
                                                            "label": null
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "number",
                                                            "label": null
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "number",
                                                            "label": null
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": null
                                                },
                                                {
                                                    "name": "large",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "text",
                                                            "label": null
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "number",
                                                            "label": null
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "number",
                                                            "label": null
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": null
                                                }
                                            ],
                                            "type": "collection",
                                            "label": null
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Attachments"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 86,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "filter": {
                        "name": "Jeśli wyrzuci błąd, automatyzacja nadal będzie działać.",
                        "conditions": []
                    },
                    "metadata": {
                        "designer": {
                            "x": 1261,
                            "y": 772
                        }
                    }
                }
            ]
        },
        {
            "id": 83,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 13354298
            },
            "mapper": {
                "base": "appaMjC1IzIU6nUz9",
                "table": "tbliiX4CiJF1mMTdQ",
                "record": {
                    "fld0DSzpPZXLmftJu": "{{17.Miejscowo}}",
                    "fldB6gTQ9vm97ue9z": "{{17.`4`}}",
                    "fldSjOnSQwYPSGqtC": "{{17.NIP_wyszukiwany}}",
                    "fldZmEfqLrw9d06fQ": "{{17.`5`}}",
                    "fldjNp4Tmp9TzHEuz": "{{17.email}}",
                    "fldpo6lnPScLJ5V6p": "{{if(contains(17.`Twoja-firma`; 17.`8`); 17.`Twoja-firma`; 17.`Twoja-firma` + \", \" + 17.`8`)}}",
                    "fldunHsDIAtl8gwdj": "zw, Nieprzekroczony limit obrotu 200 000 zł w poprzednim roku podatkowym uprawnia do zwolnienia z VAT (zgodnie z art. 113 ust. 1 i 9 ustawy o VAT).",
                    "fldxlkaIxH0kkZEz2": "100",
                    "fldyXKAuP5ni2Q3e6": "Zaliczka za Stronę WWW"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "formularz dla klienta"
                        },
                        "table": {
                            "label": "Imię itd.",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldpo6lnPScLJ5V6p",
                                            "type": "text",
                                            "label": "Twój Klient"
                                        },
                                        {
                                            "name": "fldSjOnSQwYPSGqtC",
                                            "type": "text",
                                            "label": "NIP klienta"
                                        },
                                        {
                                            "name": "fld0DSzpPZXLmftJu",
                                            "type": "text",
                                            "label": "Miejscowość"
                                        },
                                        {
                                            "name": "fldZmEfqLrw9d06fQ",
                                            "type": "text",
                                            "label": "Kod pocztowy:"
                                        },
                                        {
                                            "name": "fldB6gTQ9vm97ue9z",
                                            "type": "text",
                                            "label": "Ulica i numer"
                                        },
                                        {
                                            "name": "fldyXKAuP5ni2Q3e6",
                                            "type": "text",
                                            "label": "Oferta"
                                        },
                                        {
                                            "name": "fldxlkaIxH0kkZEz2",
                                            "type": "text",
                                            "label": "Cena w PLN"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldunHsDIAtl8gwdj",
                                            "type": "select",
                                            "label": "VAT",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "23",
                                                    "value": "23"
                                                },
                                                {
                                                    "label": "22",
                                                    "value": "22"
                                                },
                                                {
                                                    "label": "8",
                                                    "value": "8"
                                                },
                                                {
                                                    "label": "7",
                                                    "value": "7"
                                                },
                                                {
                                                    "label": "5",
                                                    "value": "5"
                                                },
                                                {
                                                    "label": "0",
                                                    "value": "0"
                                                },
                                                {
                                                    "label": "zw, Nieprzekroczony limit obrotu 200 000 zł w poprzednim roku podatkowym uprawnia do zwolnienia z VAT (zgodnie z art. 113 ust. 1 i 9 ustawy o VAT).",
                                                    "value": "zw, Nieprzekroczony limit obrotu 200 000 zł w poprzednim roku podatkowym uprawnia do zwolnienia z VAT (zgodnie z art. 113 ust. 1 i 9 ustawy o VAT)."
                                                },
                                                {
                                                    "label": "zw, Zwolnienie ze względu na rodzaj prowadzonej działalności (art. 43 ust 1 ustawy o VAT)",
                                                    "value": "zw, Zwolnienie ze względu na rodzaj prowadzonej działalności (art. 43 ust 1 ustawy o VAT)"
                                                },
                                                {
                                                    "label": "zw, Zwolnienie na mocy rozporządzenia MF (art. 82 ust 3 ustawy o VAT)",
                                                    "value": "zw, Zwolnienie na mocy rozporządzenia MF (art. 82 ust 3 ustawy o VAT)"
                                                },
                                                {
                                                    "label": "np",
                                                    "value": "np"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldKt8YSaIrv7VSD6",
                                            "type": "text",
                                            "label": "Twoja faktura",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldjNp4Tmp9TzHEuz",
                                            "type": "text",
                                            "label": "Email"
                                        },
                                        {
                                            "name": "fldSkAgwvtjekJthz",
                                            "type": "boolean",
                                            "label": "newslater"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fldSkAgwvtjekJthz": {
                                    "mode": "chose"
                                },
                                "fldunHsDIAtl8gwdj": {
                                    "mode": "chose",
                                    "label": "zw, Nieprzekroczony limit obrotu 200 000 zł w poprzednim roku podatkowym uprawnia do zwolnienia z VAT (zgodnie z art. 113 ust. 1 i 9 ustawy o VAT)."
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usrplOS7rQeV8jU5F)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldpo6lnPScLJ5V6p",
                                "type": "text",
                                "label": "Twój Klient"
                            },
                            {
                                "name": "fldSjOnSQwYPSGqtC",
                                "type": "text",
                                "label": "NIP klienta"
                            },
                            {
                                "name": "fld0DSzpPZXLmftJu",
                                "type": "text",
                                "label": "Miejscowość"
                            },
                            {
                                "name": "fldZmEfqLrw9d06fQ",
                                "type": "text",
                                "label": "Kod pocztowy:"
                            },
                            {
                                "name": "fldB6gTQ9vm97ue9z",
                                "type": "text",
                                "label": "Ulica i numer"
                            },
                            {
                                "name": "fldyXKAuP5ni2Q3e6",
                                "type": "text",
                                "label": "Oferta"
                            },
                            {
                                "name": "fldxlkaIxH0kkZEz2",
                                "type": "text",
                                "label": "Cena w PLN"
                            },
                            {
                                "mode": "edit",
                                "name": "fldunHsDIAtl8gwdj",
                                "type": "select",
                                "label": "VAT"
                            },
                            {
                                "name": "fldKt8YSaIrv7VSD6",
                                "type": "text",
                                "label": "Twoja faktura"
                            },
                            {
                                "name": "fldjNp4Tmp9TzHEuz",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldSkAgwvtjekJthz",
                                "type": "boolean",
                                "label": "newslater"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Twój Klient",
                        "type": "text",
                        "label": "Twój Klient"
                    },
                    {
                        "name": "NIP klienta",
                        "type": "text",
                        "label": "NIP klienta"
                    },
                    {
                        "name": "Miejscowość",
                        "type": "text",
                        "label": "Miejscowość"
                    },
                    {
                        "name": "Kod pocztowy:",
                        "type": "text",
                        "label": "Kod pocztowy:"
                    },
                    {
                        "name": "Ulica i numer",
                        "type": "text",
                        "label": "Ulica i numer"
                    },
                    {
                        "name": "Oferta",
                        "type": "text",
                        "label": "Oferta"
                    },
                    {
                        "name": "Cena w PLN",
                        "type": "text",
                        "label": "Cena w PLN"
                    },
                    {
                        "name": "VAT",
                        "type": "text",
                        "label": "VAT"
                    },
                    {
                        "name": "Twoja faktura",
                        "type": "text",
                        "label": "Twoja faktura",
                        "multiline": true
                    },
                    {
                        "name": "Data utworzenia ⏰",
                        "type": "date",
                        "label": "Data utworzenia ⏰"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "newslater",
                        "type": "boolean",
                        "label": "newslater"
                    }
                ]
            }
        },
        {
            "id": 87,
            "module": "datastore:DeleteRecord",
            "version": 1,
            "parameters": {
                "datastore": 38650
            },
            "mapper": {
                "key": "{{85.key}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "My data store"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 98,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 88,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": true
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{17.NIP_wyszukiwany}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "https://pomaski-szymek.fakturownia.pl/invoices.json",
                                "data": "{\n  \"api_token\": \"GkrFRl4sVyhMoCcZDPgg\",\n  \"invoice\": {\n    \"description\": \"{{83.VAT}}\",\n    \"income\": \"1\",\n    \"kind\": \"1\",\n    \"number\": \"\",\n    \"sell_date\": \"\",\n    \"issue_date\": \"\",\n    \"payment_to\": \"\",\n\"buyer_email\": \"{{83.Email}}\",\n    \"buyer_tax_no\": \"{{83.`NIP klienta`}}\",\n    \"buyer_city\": \"{{83.`Miejscowość`}}\",\n     \"buyer_street\": \"{{83.`Ulica i numer`}}\",\n     \"buyer_post_code\": \"{{83.`Kod pocztowy:`}}\",       \n     \"buyer_name\": \"{{83.`Twój Klient`}}\",\n    \"seller_name\": \"\",\n    \"positions\": [\n      {\n        \"name\": \"Zaliczka za stronę WWW\",\n        \"tax\": \"zw\", \n        \"total_price_gross\": \"100\",\n        \"quantity\": \"1\",\n        \"quantity_unit\": \"usł.\" \n      }\n    ]\n  }\n}",
                                "gzip": true,
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Accept",
                                        "value": "application/json"
                                    },
                                    {
                                        "name": "Content-Type",
                                        "value": "application/json"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 89,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 90,
                                            "module": "airtable:ActionUpdateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 13354298
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{88.statusCode}}",
                                                            "b": "201",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "id": "{{83.id}}",
                                                "base": "appaMjC1IzIU6nUz9",
                                                "table": "tbliiX4CiJF1mMTdQ",
                                                "record": {
                                                    "fldKt8YSaIrv7VSD6": "https://szymon9283.fakturownia.pl/invoices.json\n\n✅Faktura utworzona✅"
                                                },
                                                "typecast": false,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "label": "formularz dla klienta"
                                                        },
                                                        "table": {
                                                            "label": "Imię itd."
                                                        },
                                                        "record": {
                                                            "nested": {
                                                                "fldunHsDIAtl8gwdj": {
                                                                    "mode": "edit"
                                                                }
                                                            }
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable3"
                                                            },
                                                            "label": "My Airtable OAuth connection (User ID: usrplOS7rQeV8jU5F)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "Record ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "record",
                                                        "spec": [
                                                            {
                                                                "name": "fldpo6lnPScLJ5V6p",
                                                                "type": "text",
                                                                "label": "Twój Klient"
                                                            },
                                                            {
                                                                "name": "fldSjOnSQwYPSGqtC",
                                                                "type": "text",
                                                                "label": "NIP klienta"
                                                            },
                                                            {
                                                                "name": "fld0DSzpPZXLmftJu",
                                                                "type": "text",
                                                                "label": "Miejscowość"
                                                            },
                                                            {
                                                                "name": "fldZmEfqLrw9d06fQ",
                                                                "type": "text",
                                                                "label": "Kod pocztowy:"
                                                            },
                                                            {
                                                                "name": "fldB6gTQ9vm97ue9z",
                                                                "type": "text",
                                                                "label": "Ulica i numer"
                                                            },
                                                            {
                                                                "name": "fldjNp4Tmp9TzHEuz",
                                                                "type": "text",
                                                                "label": "Email"
                                                            },
                                                            {
                                                                "name": "fldyXKAuP5ni2Q3e6",
                                                                "type": "text",
                                                                "label": "Oferta"
                                                            },
                                                            {
                                                                "name": "fldxlkaIxH0kkZEz2",
                                                                "type": "text",
                                                                "label": "Cena w PLN"
                                                            },
                                                            {
                                                                "name": "fldWymOViEe8aREp4",
                                                                "type": "text",
                                                                "label": "Czy klient zapłacił?"
                                                            },
                                                            {
                                                                "name": "fldIQP3HUUHXnUIRe",
                                                                "type": "text",
                                                                "label": "Kiedy klient zapłacił?"
                                                            },
                                                            {
                                                                "mode": "edit",
                                                                "name": "fldunHsDIAtl8gwdj",
                                                                "type": "select",
                                                                "label": "VAT"
                                                            },
                                                            {
                                                                "name": "fldMjrZtR5vp5lHWj",
                                                                "type": "text",
                                                                "label": "Moje dane do faktury📅"
                                                            },
                                                            {
                                                                "name": "fldKt8YSaIrv7VSD6",
                                                                "type": "text",
                                                                "label": "Twoja faktura"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Twój Klient",
                                                        "type": "text",
                                                        "label": "Twój Klient"
                                                    },
                                                    {
                                                        "name": "NIP klienta",
                                                        "type": "text",
                                                        "label": "NIP klienta"
                                                    },
                                                    {
                                                        "name": "Miejscowość",
                                                        "type": "text",
                                                        "label": "Miejscowość"
                                                    },
                                                    {
                                                        "name": "Kod pocztowy:",
                                                        "type": "text",
                                                        "label": "Kod pocztowy:"
                                                    },
                                                    {
                                                        "name": "Ulica i numer",
                                                        "type": "text",
                                                        "label": "Ulica i numer"
                                                    },
                                                    {
                                                        "name": "Email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    },
                                                    {
                                                        "name": "Oferta",
                                                        "type": "text",
                                                        "label": "Oferta"
                                                    },
                                                    {
                                                        "name": "Cena w PLN",
                                                        "type": "text",
                                                        "label": "Cena w PLN"
                                                    },
                                                    {
                                                        "name": "Czy klient zapłacił?",
                                                        "type": "text",
                                                        "label": "Czy klient zapłacił?"
                                                    },
                                                    {
                                                        "name": "Kiedy klient zapłacił?",
                                                        "type": "text",
                                                        "label": "Kiedy klient zapłacił?"
                                                    },
                                                    {
                                                        "name": "VAT",
                                                        "type": "text",
                                                        "label": "VAT"
                                                    },
                                                    {
                                                        "name": "Moje dane do faktury📅",
                                                        "type": "text",
                                                        "label": "Moje dane do faktury📅"
                                                    },
                                                    {
                                                        "name": "Autofaktura",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Autofaktura"
                                                    },
                                                    {
                                                        "name": "Twoja faktura",
                                                        "type": "text",
                                                        "label": "Twoja faktura",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Data utworzenia ⏰",
                                                        "type": "date",
                                                        "label": "Data utworzenia ⏰"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 92,
                                            "module": "telegram:SendReplyMessage",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 1689946
                                            },
                                            "mapper": {
                                                "text": "{{17.`3`}} Zarezerwował {{17.daysCount}} dni i wybrał domek całoroczny {{17.dateRange}} {{17.`3`}} Podał dane do faktury. Jego faktura {{88.data.view_url}}",
                                                "chatId": "@impozitinfo",
                                                "parseMode": "",
                                                "replyMarkup": "",
                                                "messageThreadId": "",
                                                "replyToMessageId": "",
                                                "replyMarkupAssembleType": "reply_markup_enter"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "parseMode": {
                                                            "label": "Empty"
                                                        },
                                                        "disableNotification": {
                                                            "mode": "chose"
                                                        },
                                                        "replyMarkupAssembleType": {
                                                            "label": "Enter the Reply Markup"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "telegram"
                                                            },
                                                            "label": "My Telegram Bot connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:telegram",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "chatId",
                                                        "type": "text",
                                                        "label": "Chat ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "messageThreadId",
                                                        "type": "number",
                                                        "label": "Message Thread ID"
                                                    },
                                                    {
                                                        "name": "parseMode",
                                                        "type": "select",
                                                        "label": "Parse Mode",
                                                        "validate": {
                                                            "enum": [
                                                                "Markdown",
                                                                "HTML"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "disableNotification",
                                                        "type": "boolean",
                                                        "label": "Disable Notifications"
                                                    },
                                                    {
                                                        "name": "disableWebPagePreview",
                                                        "type": "boolean",
                                                        "label": "Disable Link Previews"
                                                    },
                                                    {
                                                        "name": "replyToMessageId",
                                                        "type": "number",
                                                        "label": "Original Message ID"
                                                    },
                                                    {
                                                        "name": "replyMarkupAssembleType",
                                                        "type": "select",
                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                        "validate": {
                                                            "enum": [
                                                                "reply_markup_enter",
                                                                "reply_markup_assemble"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "replyMarkup",
                                                        "type": "text",
                                                        "label": "Reply Markup"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 93,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "",
                                                "status": "301",
                                                "headers": [
                                                    {
                                                        "key": "Location",
                                                        "value": "{{88.data.view_url}}"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3300,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 91,
                                            "module": "airtable:ActionUpdateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 13354298
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{88.statusCode}}",
                                                            "b": "201",
                                                            "o": "number:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "id": "{{83.id}}",
                                                "base": "appaMjC1IzIU6nUz9",
                                                "table": "tbliiX4CiJF1mMTdQ",
                                                "record": {
                                                    "fldKt8YSaIrv7VSD6": "https://szymon9283.fakturownia.pl/invoices.json ⬅️ Baza\n⬆️ Coś poszło źle⚠️\n❌ Pwód błedu: {{88.data}}❌ "
                                                },
                                                "typecast": false,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "label": "formularz dla klienta"
                                                        },
                                                        "table": {
                                                            "label": "Imię itd."
                                                        },
                                                        "record": {
                                                            "nested": {
                                                                "fldunHsDIAtl8gwdj": {
                                                                    "mode": "edit"
                                                                }
                                                            }
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable3"
                                                            },
                                                            "label": "My Airtable OAuth connection (User ID: usrplOS7rQeV8jU5F)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "Record ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "record",
                                                        "spec": [
                                                            {
                                                                "name": "fldpo6lnPScLJ5V6p",
                                                                "type": "text",
                                                                "label": "Twój Klient"
                                                            },
                                                            {
                                                                "name": "fldSjOnSQwYPSGqtC",
                                                                "type": "text",
                                                                "label": "NIP klienta"
                                                            },
                                                            {
                                                                "name": "fld0DSzpPZXLmftJu",
                                                                "type": "text",
                                                                "label": "Miejscowość"
                                                            },
                                                            {
                                                                "name": "fldZmEfqLrw9d06fQ",
                                                                "type": "text",
                                                                "label": "Kod pocztowy:"
                                                            },
                                                            {
                                                                "name": "fldB6gTQ9vm97ue9z",
                                                                "type": "text",
                                                                "label": "Ulica i numer"
                                                            },
                                                            {
                                                                "name": "fldjNp4Tmp9TzHEuz",
                                                                "type": "text",
                                                                "label": "Email"
                                                            },
                                                            {
                                                                "name": "fldyXKAuP5ni2Q3e6",
                                                                "type": "text",
                                                                "label": "Oferta"
                                                            },
                                                            {
                                                                "name": "fldxlkaIxH0kkZEz2",
                                                                "type": "text",
                                                                "label": "Cena w PLN"
                                                            },
                                                            {
                                                                "name": "fldWymOViEe8aREp4",
                                                                "type": "text",
                                                                "label": "Czy klient zapłacił?"
                                                            },
                                                            {
                                                                "name": "fldIQP3HUUHXnUIRe",
                                                                "type": "text",
                                                                "label": "Kiedy klient zapłacił?"
                                                            },
                                                            {
                                                                "mode": "edit",
                                                                "name": "fldunHsDIAtl8gwdj",
                                                                "type": "select",
                                                                "label": "VAT"
                                                            },
                                                            {
                                                                "name": "fldMjrZtR5vp5lHWj",
                                                                "type": "text",
                                                                "label": "Moje dane do faktury📅"
                                                            },
                                                            {
                                                                "name": "fldKt8YSaIrv7VSD6",
                                                                "type": "text",
                                                                "label": "Twoja faktura"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Twój Klient",
                                                        "type": "text",
                                                        "label": "Twój Klient"
                                                    },
                                                    {
                                                        "name": "NIP klienta",
                                                        "type": "text",
                                                        "label": "NIP klienta"
                                                    },
                                                    {
                                                        "name": "Miejscowość",
                                                        "type": "text",
                                                        "label": "Miejscowość"
                                                    },
                                                    {
                                                        "name": "Kod pocztowy:",
                                                        "type": "text",
                                                        "label": "Kod pocztowy:"
                                                    },
                                                    {
                                                        "name": "Ulica i numer",
                                                        "type": "text",
                                                        "label": "Ulica i numer"
                                                    },
                                                    {
                                                        "name": "Email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    },
                                                    {
                                                        "name": "Oferta",
                                                        "type": "text",
                                                        "label": "Oferta"
                                                    },
                                                    {
                                                        "name": "Cena w PLN",
                                                        "type": "text",
                                                        "label": "Cena w PLN"
                                                    },
                                                    {
                                                        "name": "Czy klient zapłacił?",
                                                        "type": "text",
                                                        "label": "Czy klient zapłacił?"
                                                    },
                                                    {
                                                        "name": "Kiedy klient zapłacił?",
                                                        "type": "text",
                                                        "label": "Kiedy klient zapłacił?"
                                                    },
                                                    {
                                                        "name": "VAT",
                                                        "type": "text",
                                                        "label": "VAT"
                                                    },
                                                    {
                                                        "name": "Moje dane do faktury📅",
                                                        "type": "text",
                                                        "label": "Moje dane do faktury📅"
                                                    },
                                                    {
                                                        "name": "Autofaktura",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Autofaktura"
                                                    },
                                                    {
                                                        "name": "Twoja faktura",
                                                        "type": "text",
                                                        "label": "Twoja faktura",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Data utworzenia ⏰",
                                                        "type": "date",
                                                        "label": "Data utworzenia ⏰"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 81,
                                            "module": "telegram:SendReplyMessage",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 1689946
                                            },
                                            "mapper": {
                                                "text": "Błąd! Faktura NIE została wystawiona. Twój klient {{17.`3`}} Podał dane do faktury, ale nie udało się wystawić dokumentu. Twój klient mógł podać błędne dane do faktury. Sprawdź swoją bazę danych w airtable.com\n\n\n{{17.`3`}} Zarezerwował {{17.daysCount}}dni i wybrał domek całoroczny {{17.dateRange}} {{17.`3`}} Podał dane do faktury. Jego faktura ",
                                                "chatId": "@impozitinfo",
                                                "parseMode": "",
                                                "replyMarkup": "",
                                                "messageThreadId": "",
                                                "replyToMessageId": "",
                                                "replyMarkupAssembleType": "reply_markup_enter"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "parseMode": {
                                                            "label": "Empty"
                                                        },
                                                        "disableNotification": {
                                                            "mode": "chose"
                                                        },
                                                        "replyMarkupAssembleType": {
                                                            "label": "Enter the Reply Markup"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "telegram"
                                                            },
                                                            "label": "My Telegram Bot connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:telegram",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "chatId",
                                                        "type": "text",
                                                        "label": "Chat ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "messageThreadId",
                                                        "type": "number",
                                                        "label": "Message Thread ID"
                                                    },
                                                    {
                                                        "name": "parseMode",
                                                        "type": "select",
                                                        "label": "Parse Mode",
                                                        "validate": {
                                                            "enum": [
                                                                "Markdown",
                                                                "HTML"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "disableNotification",
                                                        "type": "boolean",
                                                        "label": "Disable Notifications"
                                                    },
                                                    {
                                                        "name": "disableWebPagePreview",
                                                        "type": "boolean",
                                                        "label": "Disable Link Previews"
                                                    },
                                                    {
                                                        "name": "replyToMessageId",
                                                        "type": "number",
                                                        "label": "Original Message ID"
                                                    },
                                                    {
                                                        "name": "replyMarkupAssembleType",
                                                        "type": "select",
                                                        "label": "Enter/Assemble the Reply Markup Field",
                                                        "validate": {
                                                            "enum": [
                                                                "reply_markup_enter",
                                                                "reply_markup_assemble"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "replyMarkup",
                                                        "type": "text",
                                                        "label": "Reply Markup"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 109,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "",
                                                "status": "301",
                                                "headers": [
                                                    {
                                                        "key": "Location",
                                                        "value": "https://pomaski.com.pl/untitled.html"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3326,
                                                    "y": 302
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 102,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "",
                                "status": "301",
                                "headers": [
                                    {
                                        "key": "Location",
                                        "value": "https://pomaski.com.pl/untitled.html"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 106,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1689946
                            },
                            "mapper": {
                                "text": "Masz nowego klienta.\n\n{{17.email}}\n{{17.`Last-Name`}}\n{{17.`8`}}\n{{17.Message}}{{17.`5`}}{{17.`4`}}",
                                "chatId": "@impozitinfo",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2460,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": [
            {
                "moduleIds": [
                    17
                ],
                "content": "<p>Wyzwalacz danych. Zwróć uwagę, czy moduł jest ustawiony na immediately</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    85
                ],
                "content": "<p>Data store zapamiętuje <strong>klucz</strong> w swojej pamięci. Dzięki temu wie, że musi wysłać tylko <strong>jednokrotnie</strong> dane o twoim kliencie do bazy danych.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    84
                ],
                "content": "<p>Set variable tworzy <strong>klucz</strong> jako hash (zabezpieczenie przed duplikacją danych). To sprawi, że automatyzacja uniknie błędu i ona NIE będzie powielać informacje w twojej bazie danych. Klient wysyła jednorazowo dane z formularza = jednorazowy wystrzał danych klienta do twojej bazy danych.  </p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    88
                ],
                "content": "<ul><li></li><li></li><li></li><li></li><li><strong>szt.</strong> – sztuki (domyślna dla towarów)</li><li><strong>usł.</strong> – usługa (najczęstsza w Twojej branży - IT/Marketing)</li><li><strong>godz.</strong> – godziny</li><li><strong>dni</strong> – <strong>(To, czego potrzebujesz)</strong></li><li><strong>m-c</strong> – miesiąc (np. przy abonamentach)</li><li><strong>os.</strong> – osoby</li><li><strong>km</strong> – kilometry</li><li><strong>rzeszy</strong> – (np. przy licencjach)</li><li><strong>kpl.</strong> – komplet</li><li><strong>opak.</strong> – opakowanie</li><li><strong>m2</strong> / <strong>m3</strong> – metry kwadratowe / sześcienne</li><li><strong>kg</strong> / <strong>t</strong> – kilogramy / tony</li></ul><p></p><p></p><p>Tu dane klienta są przekształcane w fakturę. Jeśli klient podał prawidłowo dane, to otrzyma fakturę,.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    83
                ],
                "content": "<p>W tym miejscu trafiają informacje o twoim kliencie ze strony WWW do bazy danych - airtable.com</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    87
                ],
                "content": "<p>Ten moduł usuwa <strong>klucz</strong> z poprzedniego modułu (Data strore, Add/replace a record). Dzięki temu zwalnia się miejsce z twojej pamięci.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    102
                ],
                "content": "<p>Jeśli fakturownia odmówi wygenerownia dokumentu ze względu na błąd, wtedy twój klient zamiast faktury otrzyma przekierowanie na twoją podstronę z podziękowaniami. Dane się wyślą do twojej bazy danych, ale faktura nie zostanie wystawiona. </p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#F08D88"
                }
            },
            {
                "moduleIds": [
                    106
                ],
                "content": "<p>Poza bazą danych z airtable, również otrzymasz powiadomienie na telefonie, na telegramie, że klient podał dane do faktury i wybrał ofertę. Również zostaniesz poinformowany, że faktura NIe została wystawiona przez błąd. Musisz ręcznie wystawić fakturę w fakturownia.pl - dane do faktury masz tu i w airtable.com</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#F08D88"
                }
            },
            {
                "moduleIds": [
                    86
                ],
                "content": "<p>Ten moduł ignoruje błąd i pozawala dalej działać automatyzacji.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#F08D88"
                }
            },
            {
                "moduleIds": [
                    90
                ],
                "content": "<p>Jeśli twój klient prawidłowo podał dane do faktury - otrzyma ją natychmiast po wysłaniu formularza na twojej stronie.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#87B74A"
                }
            },
            {
                "moduleIds": [
                    92
                ],
                "content": "<p>Otrzymujesz tu info, że klient pomyślnie otrzymał fakturę</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#87B74A"
                }
            },
            {
                "moduleIds": [
                    93
                ],
                "content": "<p>Klient jest przekierowany na stronę, na której widzi on swój dokument.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#87B74A"
                }
            },
            {
                "moduleIds": [
                    91
                ],
                "content": "<p>Klient wypełnił źle dane do faktury, dostajesz powiadomienie o tym.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#F08D88"
                }
            },
            {
                "moduleIds": [
                    81
                ],
                "content": "<p>Poza bazą danych z airtable, również otrzymasz powiadomienie na telefonie, na telegramie, że klient podał dane do faktury i wybrał ofertę. Również zostaniesz poinformowany, że faktura NIe została wystawiona przez błąd. Musisz ręcznie wystawić fakturę w fakturownia.pl - dane do faktury masz tu i w airtable.com</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#F08D88"
                }
            },
            {
                "moduleIds": [
                    109
                ],
                "content": "<p>Jeśli fakturownia odmówi wygenerownia dokumentu ze względu na błąd, wtedy twój klient zamiast faktury otrzyma przekierowanie na twoją podstronę z podziękowaniami. Dane się wyślą do twojej bazy danych, ale faktura nie zostanie wystawiona. </p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#F08D88"
                }
            }
        ]
    }
}